/*-- Práctica 4 Módulo 3: Menús CSS. Autor: Luis Medina. Fichero: css */
/* Fichero: Hoja de estilos */

/* Reset o selector universal */
* {
	/* Para no tener problema con los anchos en el modelo de caja */
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Tags y clases del html */
body {
	width: 100%;
	background-color: #FFFFFF;
	background: url('images/bbc.png') center 300px no-repeat;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1.3em/1.6;
	text-align: center;
	height: 60em; /* no se debe usar, simplemente lo añado para que se vea el efecto al bajar del menú, se esconde */
}

h1 {
	line-height: 1rem;
	font-variant: small-caps;
	margin: 15px;
	padding: 5px;
}

h4 {
	font-style: italic;
}

/* bloque div para el borde inferior del menú */
.borde {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	border: 1.5px solid rgba(0, 0, 0, 0.2);
}

/* Menú de navegación base */
nav {
	width: 80%;
	min-width: 600px;
	margin: 0 auto;
	padding: 0 8px;
	line-height: 1;
	font: inherit;
	color: #333333;
	text-align: center;
	position: absolute;
	top: 0;
}

/* Título en el menú de navegación */
nav>h1 {
	float: left;
	display: block;
	margin: 8px 8px 7px 20%;
	padding: 8px;
	color: #FFFFFF;
	font-family: Arial,Helvetica,sans-serif;
	font-variant: normal;
	letter-spacing: 3px;
	border-width: 0 1px 0 0;
	text-align: center;
}

/* Link del título del menú de navegación */
nav>h1>a {
	font: inherit;
	color: inherit;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

/* Letras del link del título del menú de navegación */
nav>h1>a>.letter {
	margin: 0 2px;
	padding: 0 4px 0 5px;
	text-align: center;
	background-color: #333333;
}

/* Bloque vacío */
nav>.vacio {
	float: left;
	width: 80px;
	height: 45px;
	border-left: 1.5px solid rgba(0, 0, 0, 0.2);
}

/* Lista en el menú de navegación */
nav>ul{
	float: left;
    list-style: none outside none;
    padding: 0;
    margin: 0;
	border-style: solid;
	border-color: #CCCCCC;
    border-width: 0 1px 0 0;
    height: 45px;
    font-size: 80%;
}

/* Cada elemento de la lista, como inline */
nav ul>li {
	display: inline-block;
	float: left;
	border-style: solid;
    border-width: 0 0 0 1px;
	border-color: #CCCCCC;
}

/* Formato de cada item de la lista (directamente formato sobre los links, no sobre el li */
nav ul>li>a {
	padding: 6px 12px 14px 11px;
    bottom: -1px;
    display: block;
    font-weight: bold;
    line-height: 24px;
    position: relative;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

/* Opciones del menú sobre las que pasamos el ratón */
nav>ul>li>a:hover {
	border-bottom-style: solid;
	padding-bottom: 10px;
	outline: 0 none;
}

/* Para que no quede seleccionada la opción al pinchar en ella o tener el foco */
nav>ul>li>a:visited, nav>ul>li>a:active, nav>ul>li>a:focus {
	outline: 0 none;
}

/* Separamos del nav el resto del contenido */
header {
	margin-top: 60px;
}
/* Incluimos en los links de los elementos de la lista el color del borde inferior */
/* Sólo se verá cuando se pase el ratón */
.news a {
    border-bottom-color: #9B2313;
}

.sport a {
    border-bottom-color: #FFE711;
}

.weather a {
    border-bottom-color: #77CDFF;
}

.capital a {
    border-bottom-color: #757575;
}

.culture a {
    border-bottom-color: #000000;
}

.autos a {
    border-bottom-color: #2897E5;
}

.tv a {
    border-bottom-color: #333333;
}

.radio a {
    border-bottom-color: #333333;
}

.more a {
    border-bottom-color: #757575;
}

/* Div con opción para cambiar de página entre las dos prácticas */
.container {
	width: 20%;
	position: fixed;
	top: 50%;
	left: 40%;
}

.container a {
	font-variant: small-caps;
}

/* Div posterior al menú para recuperar el flujo */
.clear {
	clear: both;
}

